streamlit
cmake
face_recognition_models
Click>=6.0
dlib>=19.3.0
numpy 
pandas  
db-sqlite3
face-recognition
os-win
Pillow==2.2.1
scipy>=0.17.0
DateTime 
matplotlib 
simpy.io
pybase64


